{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{%static 'blog/abouttest.css'%}">



</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class=test-div-left>
                <ul class="nav-links-left">
                    <li class=nav-item-left><a href="#">Mafia Forum</a></li>
                </ul>
            </div>
            <div class="test-div-right">
                <ul class="nav-links-right">
                    <li class="nav-item-right"><a href="#">Test Left</a></li>
                    <li class="nav-item-right"><a href="#">Test Left 2</a></li>
                    <li class="nav-item-right"><a href="#">Test Right</a></li>
                    <li class="nav-item-right"><a href="#">Test Right 2</a></li>
                </ul>
            </div>
        </nav>
    </div>
    

    <div class="container-2">
        <div class="testflex">
            <p>test text</p>

            

        </div>



        <div class="textbox2">
            <div class="testflex2">
                <p>test text</p>
            </div>
            <div class="testflex2-text">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus libero eget quam scelerisque, ut eleifend enim fermentum. In sed nisi gravida, maximus est ut, vehicula odio. Sed iaculis vestibulum massa, eget rhoncus lacus accumsan lacinia. Sed condimentum quam a ultricies venenatis. Etiam accumsan, arcu at bibendum aliquet, nunc diam ullamcorper mi, eget blandit orci risus pharetra metus. Pellentesque bibendum eros pharetra est placerat, vitae accumsan tellus vulputate. Donec iaculis ex est, nec viverra erat facilisis at. Integer suscipit mi eu massa euismod, et convallis libero malesuada. Sed suscipit non sapien eget mollis. Sed a libero arcu. Donec posuere eros magna, vitae tempor velit pretium eu. Aliquam nec odio in augue viverra hendrerit at pharetra nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam maximus lacinia nunc, ac tincidunt mauris lacinia ut. In ac arcu in velit euismod tempor vitae in sapien. Pellentesque et ultrices velit, eget venenatis magna. Morbi pretium erat vel dui vulputate auctor. Curabitur facilisis odio elementum, dignissim arcu non, semper ex. In quis risus scelerisque, tempor mauris et, ornare lorem. Suspendisse placerat sem id laoreet venenatis. Nam ligula nisi, molestie nec libero vitae, molestie fermentum est. Pellentesque tincidunt, nisl nec aliquet condimentum, magna libero vehicula tortor, quis semper nisl turpis id est. Sed interdum massa quis dolor interdum aliquet. Mauris lobortis scelerisque pulvinar. Nulla sodales sem quis tortor vulputate varius. Cras fermentum consectetur nibh sed tincidunt. Phasellus id ornare nibh. Nulla at accumsan eros. Nullam mattis lacus vitae blandit rhoncus.

In vitae urna quis ex scelerisque ultricies. Vivamus sodales quam eget accumsan iaculis. Etiam vitae mi venenatis, iaculis leo ac, porttitor mi. Vivamus ut scelerisque ex, ac condimentum felis. Fusce volutpat arcu at neque malesuada, et finibus tellus tincidunt. Duis a lacus euismod, luctus nisl quis, fringilla sem. Cras eu eleifend metus. Maecenas suscipit fermentum purus, eu tristique ex suscipit eu. Etiam lobortis, sem nec imperdiet vestibulum, ligula nibh sodales eros, et ultrices neque erat semper arcu. Praesent eu lacus massa. Nullam non nunc bibendum massa efficitur aliquet. Pellentesque hendrerit ipsum at enim rhoncus laoreet. In pellentesque, lorem eu fermentum dignissim, massa tellus consequat felis, ac rutrum nulla odio sed nibh. Etiam vitae bibendum nisi, vitae porttitor justo. Aenean rutrum fermentum mauris, in volutpat sapien dignissim sed. Nulla sit amet sem in lectus pharetra lobortis ac eleifend purus.

Morbi luctus mattis massa id pretium. Nullam ipsum orci, volutpat vitae elementum eget, lacinia aliquam sem. Sed placerat pellentesque porttitor. Cras rhoncus odio laoreet consectetur iaculis. Nulla ultricies leo eros, at commodo erat placerat quis. Cras elit tellus, consectetur id aliquam semper, rhoncus et ante. Sed nulla augue, tincidunt sed rutrum in, ullamcorper vitae mauris. Morbi at rhoncus purus, nec sagittis enim. Integer bibendum metus in iaculis ultricies. Vivamus in risus sit amet leo volutpat faucibus vitae a turpis. </p></div>


        </div>



    </div>












</body>
